/* /// MEDIA QUERIES /// */
@media screen and (max-width: 375px) {
  #container {
    grid-row-gap: 0px;
    grid-template-rows: auto auto 30px;
  }

  header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  header h1 {
    margin: 10px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0 10px 0;
  }

  header nav ul li {
    margin: 0 10px;
  }

  header nav ul li a {
    font-size: 12px;
  }

  #hero,
  #compra,
  #productos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #hero img {
    width: 100%;
    height: auto;
    margin-right: 0;
  }

  #compra {
    align-items: flex-start;
  }

  #compra__content {
    width: 100%;
  }

  #compra__images {
    display: flex;
    justify-content: flex-start;
    order: -1;
    margin-bottom: 20px;
  }

  #compra__images img {
    width: 80%;
  }

  #productos img {
    margin-bottom: 20px;
    width: 30%;
    order: -1;
    align-self: flex-start;
  }
}
