* {
  margin: 0;
  padding: 0;
}

html,
body {
  color: #282828;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 150%;
}

#container {
  display: grid;
  grid-template-areas:
    "header__container"
    "main__container"
    "footer";
  grid-template-rows: 60px auto 30px;
  width: 100%;
  height: 100vh;
}

#header__container {
  grid-area: header__container;
  background-color: #7140d0;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  position: sticky;
  z-index: 100;
}

header {
  align-items: center;
  background-color: #7140d0;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

header h1 {
  color: #fff;
}

header nav ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0 10px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

#hero {
  display: flex;
  align-items: center;
}

#hero img {
  width: 50%;
  height: auto;
  margin-right: 50px;
}

#compra {
  grid-area: compra;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}

#compra__content {
  width: 60%;
}

#compra__images {
  display: flex;
  justify-content: flex-end;
  width: 40%;
}

#compra__images img {
  height: auto;
  width: 30%;
}

#productos {
  grid-area: productos;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

#productos img {
  margin-left: 30px;
}

#vender {
  text-align: center;
  grid-area: vender;
  background: rgb(225, 210, 255);
  background: linear-gradient(
    45deg,
    rgba(225, 210, 255, 1) 0%,
    rgba(252, 245, 255, 1) 50%,
    rgba(232, 220, 255, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  grid-area: footer;
  background-color: #251744;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

/* ////////////////////////////   CLASS   //////////////////////////// */

.hero-title {
  font-size: 36px;
  line-height: 130%;
}

.hero-text {
  font-size: 26px;
  line-height: 130%;
}

/* /// BTN /// */

.btn {
  background-color: #7140d0;
  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0);
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 12px;
}

.btn:hover {
  color: #7140d0;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #7140d0;
}

.btn-secondary {
  border: 2px solid #7140d0;
  border-radius: 4px;
  color: #7140d0;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  padding: 8px 10px;
}

.btn-secondary:hover {
  border: 2px solid #532f9c;
  color: #532f9c;
}

/* __________ */

/* /// LINK /// */

.link {
  display: inline-block;
  color: #282828;
  font-size: 18px;
  font-weight: 600;
}

.link:hover {
  color: #000000;
}

/* __________ */

/* /// MARGIN /// */
.margin-10 {
  margin-top: 10px;
}

.margin-20 {
  margin-top: 20px;
}
/* __________ */

/* /// TEXT ALIGN /// */
.center {
  text-align: center;
}

/* __________ */

/* /// PADDING /// */
.padding-30 {
  padding: 30px;
}
/* __________ */

/* /// MEDIA QUERIES /// */
@media screen and (max-width: 375px) {
  #container {
    grid-row-gap: 0px;
    grid-template-rows: auto auto 30px;
  }

  header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  header h1 {
    margin: 10px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0 10px 0;
  }

  header nav ul li {
    margin: 0 10px;
  }

  header nav ul li a {
    font-size: 12px;
  }

  #hero,
  #compra,
  #productos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #hero img {
    width: 100%;
    height: auto;
    margin-right: 0;
  }

  #compra {
    align-items: flex-start;
  }

  #compra__content {
    width: 100%;
  }

  #compra__images {
    display: flex;
    justify-content: flex-start;
    order: -1;
    margin-bottom: 20px;
  }

  #compra__images img {
    width: 80%;
  }

  #productos img {
    margin-bottom: 20px;
    width: 30%;
    order: -1;
    align-self: flex-start;
  }
}

/* __________ */
