#container {
  display: grid;
  grid-template-areas:
    "header__container"
    "main__container"
    "footer";
  grid-template-rows: 60px auto 30px;
  width: 100%;
  height: 100vh;
}

#main__container {
  width: 80%;
  margin: 0 auto;
}

/* /// MEDIA QUERIES /// */
@media screen and (max-width: 375px) {
  #container {
    grid-row-gap: 0px;
    grid-template-rows: auto auto 30px;
  }

  header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  header h1 {
    margin: 10px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0 10px 0;
  }

  header nav ul li {
    margin: 0 10px;
  }

  header nav ul li a {
    font-size: 12px;
  }

  #main__container {
    width: 100%;
    margin: 0 auto;
  }

  #comprar h2 {
    margin-top: 0;
  }
}
