@import "./variables";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  color: map-get($map: $color, $key: "text");
  font-family: "Lato", sans-serif;
  font-size: 10px;
  height: 100vh;
  width: 100vw;
}

#container {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px auto 60px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  footer {
    grid-area: footer;
  }
}

@media screen and (max-width: 1024px) {
  #container {
    grid-template-rows: 120px auto 60px;
  }
}

@media screen and (max-width: 533px) {
  #container {
    grid-template-rows: auto auto 60px;
  }
}
