@import "../variables";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  color: map-get($map: $color, $key: "text");
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 150%;
}

#container {
  display: grid;
  grid-template-areas:
    "header__container"
    "main__container"
    "footer";
  grid-template-rows: 60px auto 30px;
}

/* ////////////////////////////   CLASS   //////////////////////////// */

.hero-title {
  font-size: 36px;
  line-height: 130%;
}

.hero-text {
  font-size: 26px;
  line-height: 130%;
}

/* /// MARGIN /// */
.margin-10 {
  margin-top: 10px;
}

.margin-20 {
  margin-top: 20px;
}

/* /// TEXT ALIGN /// */
.center {
  text-align: center;
}

/* /// PADDING /// */
.padding-30 {
  padding: 30px;
}
