$color-primary: #7140d0;
$color-secondary: #532f9c;
$color-primary-light: #e1d2ff;
$color-primary-dark: #251744;
$color-white: #ffffff;
$color-black: #000000;
$color-text: #282828;
$bg-gradient: linear-gradient(
  45deg,
  rgba(225, 210, 255, 1) 0%,
  rgba(252, 245, 255, 1) 50%,
  rgba(232, 220, 255, 1) 100%
);

* {
  margin: 0;
  padding: 0;
}

html,
body {
  color: $color-text;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 150%;
}

#container {
  display: grid;
  grid-template-areas:
    "header__container"
    "main__container"
    "footer";
  grid-template-rows: 60px auto 30px;
}

/* ////////////////////////////   CLASS   //////////////////////////// */

.hero-title {
  font-size: 36px;
  line-height: 130%;
}

.hero-text {
  font-size: 26px;
  line-height: 130%;
}

/* /// MARGIN /// */
.margin-10 {
  margin-top: 10px;
}

.margin-20 {
  margin-top: 20px;
}

/* /// TEXT ALIGN /// */
.center {
  text-align: center;
}

/* /// PADDING /// */
.padding-30 {
  padding: 30px;
}
