#footer__container {
  background-color: map-get($map: $color, $key: "primary-dark");
  font-size: map-get($map: $fSize, $key: "12");
  display: flex;
  justify-content: center;
  padding: 20px 0;

  span {
    color: map-get($map: $color, $key: "white");
    align-self: center;
    text-align: center;
  }
}
