#main__container {
  width: 80%;
  margin: 0 auto;

  #formulario__contenedor {
    display: flex;
    justify-content: center;

    #form {
      display: flex;
      flex-direction: column;
      width: 700px;
      padding-bottom: 50px;

      label {
        padding-bottom: 5px;
      }

      textarea {
        border: 1px solid rgba(28, 28, 28, 0.5);
        border-radius: 4px;
        margin-bottom: 20px;
        height: auto;
        max-width: 700px;

        &[placeholder] {
          font-size: 16px;
          font-family: sans-serif;
          padding: 15px 10px;
        }
      }

      input[placeholder] {
        font-size: 16px;
        padding: 5px 10px;

        &:focus {
          stroke: red;
        }
      }

      #botones__form button:nth-child(1) {
        border: none;
        background: transparent;
        margin-right: 20px;
        cursor: pointer;
      }
    }
  }
}

/* /// MEDIA QUERIES /// */
@media screen and (max-width: 375px) {
  #container {
    grid-row-gap: 0px;
    grid-template-rows: 91px auto 30px;
  }

  header {
    display: flex;
    flex-direction: column;
    width: 100%;

    h1 {
      margin: 10px 0;
    }

    nav ul {
      display: flex;
      flex-wrap: wrap;
      margin: 5px 0 10px 0;

      li {
        margin: 0 10px;

        a {
          font-size: 12px;
        }
      }
    }
  }

  #main__container {
    width: 100%;
    margin: 0 auto;

    #formulario__contenedor {
      padding: 30px 0;

      #form {
        display: flex;
        flex-direction: column;
        width: 300px;
        padding-bottom: 50px;
      }

      #botones__form {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
