#container__categorias,
#contenedor__demo,
#container__sellos {
  display: flex;
  flex-wrap: wrap;
}

#main__container {
  grid-area: main__container;
  width: 80%;
  margin: 0 auto;

  #container__sellos {
    padding: 30px 0;
  }
}

/* /// CLASES /// */

/* --- Categorias --- */
.cardCategorias {
  font-size: 16px;
  padding: 20px 50px 0 0;
  width: 250px;
}

/* --- Sellos --- */
.cardSellos {
  display: flex;
  padding: 20px 0;

  & picture img {
    width: 210px;
    height: 140px;
    margin-right: 40px;
  }

  &__textos {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
}

/* --- Demostración --- */
.cardDemo {
  padding-right: 20px;
  &__title {
    font-weight: 600;
  }
  &__text {
    color: rgba(0, 0, 0, 0.6);
  }
  img {
    width: 100%;
    height: auto;
  }
}

/* __________ */

/* /// MEDIA QUERIES /// */
@media screen and (max-width: 375px) {
  #container {
    grid-row-gap: 0px;
    grid-template-rows: auto auto 30px;

    header {
      display: flex;
      flex-direction: column;
      width: 100%;

      h1 {
        margin: 10px 0;
      }

      nav ul {
        display: flex;
        flex-wrap: wrap;
        margin: 5px 0 10px 0;

        li {
          margin: 0 10px;

          a {
            font-size: 12px;
          }
        }
      }
    }
  }

  #container__categorias,
  #contenedor__demo,
  #container__sellos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #main__container {
    width: 100%;
    margin: 0 auto;

    #categorias {
      article {
        display: flex;
        flex-direction: column;
      }
    }
    #container__sellos {
      padding: 0;
    }
  }

  /* /// CLASES /// */

  /* --- Categorias --- */
  .cardCategorias {
    font-size: 16px;
    padding: 20px 0 0 0;
    width: auto;
  }

  .cardSellos {
    display: flex;
    flex-direction: column;

    picture {
      display: flex;

      img {
        width: 210px;
        height: 140px;
        margin: 10px 0;
      }
    }

    .cardSellos__textos {
      width: 100%;
      h3 {
        margin-top: 10px;
      }
    }
  }

  /* --- Demostración --- */
  .cardDemo {
    padding-right: 20px;
    margin-bottom: 40px;

    img {
      width: 100%;
      height: auto;
    }

    &__title {
      font-weight: 600;
    }

    &__text {
      color: rgba(0, 0, 0, 0.6);
    }
  }
}
