.btn {
  background-color: $color-primary;
  border-radius: 4px;
  border: 2px solid rgba($color-white, 0);
  color: $color-white;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 12px;

  &:hover {
    color: $color-primary;
    background-color: rgba($color-white, 0);
    border: 2px solid $color-primary;
  }
}

.btn-secondary {
  border: 2px solid $color-primary;
  border-radius: 4px;
  color: $color-primary;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  padding: 8px 10px;

  &:hover {
    border: 2px solid $color-secondary;
    color: $color-secondary;
  }
}

/* /// LINK /// */

.link {
  display: inline-block;
  color: $color-text;
  font-size: 18px;
  font-weight: 600;

  &:hover {
    color: $color-black;
  }
}
